.landingPage {
height: 1200px;
/*background-color: pink;*/
}

#aboutPage {
  height: 3500px;
  /*background-color: pink;*/

}

#historyPage {
  height: 5700px;
  /*background-color: #93E8DB;*/


}

#timelinePage {
   height: 1000px;
   /*background-color: pink;*/
  }

#mapPage {
  height: 1000px;
  /*background-color: pink;*/

}

.scroll-box {
  overflow-y: scroll;
  height: 400px;
  /*padding: 1rem*/
}

.scroll-box-west-highland{
  overflow-y: scroll;
  height: 150px;
}

#berkeleyMapPage {
  height: 1000px;
  /*background-color: #93E8DB;*/

}

#sunnysideMapPage {
  height: 1000px;
  /*background-color: pink;*/

}

#westHighlandMapPage {
  height: 700px;

}

#lowerHighlandMapPage {
  height: 1000px;

}

#sloansLakeMapPage {
  height: 1000px;
  /*background-color: #93E8DB;*/


}

#jeffersonParkMapPage {
  height: 1000px;
  /*background-color: pink;*/


}

#storyBooksPage {
  height: 1200px;
  /*background-color: #93E8DB;*/


}

#resourcesPage {
  height: 1200px;
  /*background-color: pink;*/

}

#contactPage {
  height: 1200px;
  /*background-color: #93E8DB;*/
}

.navStyle{
  font-family: Dosis;
  font-size: 25px;
  background-color:#3b6263;
}

/*override bootstrap*/
.navbar{
  border: none;
}

/*spacing between nav elements*/
li>a{
  margin-left: 40px;
  margin-right: 30px;
}

/*override bootstrap navbar hover state*/
.navbar-default .navbar-nav>li>a:hover{
  color: #b5d1d0;
}

.headerStyle{
  font-family: Londrina Sketch;
  font-size: 200px;
}

/*.quoteStyle {*/
  /*like this one*/
  /*font-family: Cabin Sketch;*/
  /*font-family: Dosis;
  font-size: 50px;
}*/

.aboutStyle {
/*like this one*/
/*font-family: Cabin Sketch;*/
font-family: Dosis;
font-size: 40px;
}

.historyStyle{
  font-family: Dosis;
  font-size: 30px;
}

.timelineStyle{
  font-family: Dosis;
  font-size: 20px;

}

.mapStyle{
  font-family: Dosis;
  font-size: 15px;
}














/*
Cabin+Sketch||Dosis|Dr+Sugiyama|Londrina+Sketch"*/
